name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin-test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Run asdf plugin test
        uses: asdf-vm/actions/plugin-test@v3
        with:
          command: asdf-plugin-manager version
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: Test asdf-plugin-manager plugin
        run: |
          asdf plugin add asdf-plugin-manager .
          asdf install asdf-plugin-manager latest
          asdf plugin list --urls --refs
          asdf global asdf-plugin-manager latest
          asdf plugin remove asdf-plugin-manager
      - name: Test asdf-plugin-manager cli
        run: |
          cp -a cli/asdf-plugin-manager.sh /usr/local/bin/asdf-plugin-manager
          cd test
          asdf-plugin-manager list
          asdf-plugin-manager add-all
          asdf plugin list --refs
      - name: Validate installed plugins
        run: |
          set -euox pipefail
          PLUGIN_GIT_REF=$(grep -oE "[^ ]\w{39}$" test/.plugin-versions)
          asdf plugin list --refs | grep "${PLUGIN_GIT_REF}" &&
          echo "[Passed] The plugin git ref in test/.plugin-versions matches the installed one."
